<div class="editor">
  <div class="editor__content">
    <p class="editor__specification">
      Unlimited 30-Days Trial Period
    </p>
    <h2 class="editor__title">
      Revolutionary editor
    </h2>
    <p class="editor__description">
      Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id<br> metus id quam auctor molestie eget ut augue.
    </p>
    <ul class="editor-pagehead">
      <li class="editor-pagehead__item">
        <a href="" class="editor-pagehead__button link">
          <span class="editor-pagehead__button-icon editor-pagehead__button-icon--1"></span>
          Watch
        </a>
        <a href="" class="editor-pagehead__count link">1,397</a>
      </li>
      <li class="editor-pagehead__item">
        <a href="" class="editor-pagehead__button link">
          <span class="editor-pagehead__button-icon editor-pagehead__button-icon--2"></span>
          Star
        </a>
        <a href="" class="editor-pagehead__count link">21,033</a>
      </li>
      <li class="editor-pagehead__item">
        <a href="" class="editor-pagehead__button link">
          <span class="editor-pagehead__button-icon editor-pagehead__button-icon--3"></span>
          Fork
        </a>
        <a href="" class="editor-pagehead__count link">4,391</a>
      </li>
    </ul>
  </div>
</div>
