<footer class="footer">
  <div class="footer__content">
    <div class="footer-logo-block">
      <div class="footer-icon-block logo-block">
        <span class="logo-block__icon"></span>
        <h1 class="logo-block__title">fork<span>io</span></h1>
      </div>
      <p class="footer-logo-block__description">Lorem ipsum dolor sit amet, feugiat delicat liberavisse id cum no quo.</p>
    </div>
    <div class="footer-menu-block">
      <ul class="footer-menu-block__nav">
        <li class="footer-menu-block__item nav-info">Navigation</li>
        <li class="footer-menu-block__item">
          <a href="" class="footer-menu-block__link link ">Home</a>
        </li>
        <li class="footer-menu-block__item">
          <a href="" class="footer-menu-block__link link">Overview</a>
        </li>
        <li class="footer-menu-block__item">
          <a href="" class="footer-menu-block__link link">About</a>
        </li>
        <li class="footer-menu-block__item">
          <a href="" class="footer-menu-block__link link">Buying Options</a>
        </li>
        <li class="footer-menu-block__item">
          <a href="" class="footer-menu-block__link link">Support</a>
        </li>
      </ul>
    </div>
    <div class="footer-contacts-block">
      <p class="footer-contacts-block__title">347 567 78 90</p>
      <p class="footer-contacts-block__description footer-contacts-block__description--mb">AVAILABLE FROM 12PM - 18PM</p>
      <p class="footer-contacts-block__title--fz">New York, NY</p>
      <p class="footer-contacts-block__description">560 Judah St & 15th Ave, Apt 5 San Francisco, CA, 230903</p>
    </div>
    <div class="footer-information-block">
      <h5 class="footer-information-block__title">Info</h5>
      <p class="footer-information-block__description">Wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex commodo consequat. Autem vel hendrerit iriure dolor in hendrerit.</p>
    </div>
  </div>
</footer>
