<div class="get">
  <div class="get__content">
    <div class="get-l-block">
      <div class="get-l-block-small">
        <span class="get-l-block-small__img get-l-block-small__img--1"></span>
        <div class="get-l-block-small__info">
          <h3 class="get-l-block-small__title">
            Creatred to Make The Web Better
          </h3>
          <p class="get-l-block-small__description">
            Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
          </p>
        </div>
      </div>
      <div class="get-l-block-small">
        <span class="get-l-block-small__img get-l-block-small__img--2"></span>
        <div class="get-l-block-small__info">
          <h3 class="get-l-block-small__title">
            Incredibly Powerful Tool
          </h3>
          <p class="get-l-block-small__description">
            Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.
          </p>
        </div>
      </div>
      <div class="get-l-block-small">
        <span class="get-l-block-small__img get-l-block-small__img--3"></span>
        <div class="get-l-block-small__info">
          <h3 class="get-l-block-small__title">
            Experimental Stuff
          </h3>
          <p class="get-l-block-small__description">
            Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.
          </p>
        </div>
      </div>
      <div class="get-l-block-small">
        <span class="get-l-block-small__img get-l-block-small__img--4"></span>
        <div class="get-l-block-small__info">
          <h3 class="get-l-block-small__title">
            Creatred to Make The Web Better
          </h3>
          <p class="get-l-block-small__description">
            Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.
          </p>
        </div>
      </div>
    </div>
    <div class="get-r-block">
      <h2 class="get-r-block__title">
        &#60Here is what you get&#62
      </h2>
    </div>
    <div class="get-background"></div>
  </div>
</div>
