<div class="pricing">
  <div class="pricing__content">
    <h2 class="pricing__title">Fork Subscription Pricing</h2>
    <div class="pricing-block">
      <div class="pricing-block-package">
        <h4 class="pricing-block-package__title">Students</h4>
        <p class="pricing-block-package__price"><span>$</span>29</p>
        <p class="pricing-block-package__time">per month</p>
        <p class="pricing-block-package__information">Personal License</p>
        <a href="" class="pricing-block-package__button link">purchase</a>
      </div>
      <div class="pricing-block-package">
        <h4 class="pricing-block-package__title">professional</h4>
        <p class="pricing-block-package__price"><span>$</span>59</p>
        <p class="pricing-block-package__time">per month</p>
        <p class="pricing-block-package__information">Professional License <br>Email Support</p>
        <a href="" class="pricing-block-package__button link">purchase</a>
      </div>
      <div class="pricing-block-package">
        <h4 class="pricing-block-package__title">agency</h4>
        <p class="pricing-block-package__price"><span>$</span>99</p>
        <p class="pricing-block-package__time">per month</p>
        <p class="pricing-block-package__information">1-12 Team Members <br>Phone Support</p>
        <a href="" class="pricing-block-package__button link">purchase</a>
      </div>
      <div class="pricing-block-package">
        <h4 class="pricing-block-package__title">enterprise</h4>
        <p class="pricing-block-package__price"><span>$</span>159</p>
        <p class="pricing-block-package__time">per month</p>
        <p class="pricing-block-package__information">Unlimited Team Members <br>24/ 7 Phone Support</p>
        <a href="" class="pricing-block-package__button link">purchase</a>
      </div>
    </div>
    <p class="pricing__description">Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
  </div>
</div>
