<div class="quote">
  <div class="quote__content">
    <div class="quote-people">
      <span class="quote-people__img"></span>
      <div class="quote-people-information">
        <p class="quote-people-information__name">Steven Strange</p>
        <p class="quote-people-information__post">@DoctorS</p>
      </div>
    </div>
    <div class="quote-record">
      <a href="" class="quote-record__link link">@Pixelbuddha</a>
      <p class="quote-record__description">
        Suspendisse sodales sem est, in scelerisque felis scelerisque in. Aenean faucibus mollis risus. Praesent sit amet erat eget eros.
      </p>
    </div>
    <p class="quote__time">2 hours ago</p>
    <div class="quote-social-block">
      <div class="quote-social-block-small">
        <a href="" class="quote-social-block-small__button
                          quote-social-block-small__button--github
                          link">
        <span class="quote-social-block-small__logo quote-social-block-small__logo--1"></span>
        GitHub
        </a>
        <p class="quote-social-block-small__follower">7 352 Followers</p>
      </div>
      <div class="quote-social-block-small">
        <a href="" class="quote-social-block-small__button
                          quote-social-block-small__button--twitter
                          link">
        <span class="quote-social-block-small__logo quote-social-block-small__logo--2"></span>
        Twitter
      </a>
        <p class="quote-social-block-small__follower">136 312 Followers</p>
      </div>
      <div class="quote-social-block-small">
        <a href="" class="quote-social-block-small__button
                          quote-social-block-small__button--facebook
                           link">
        <span class="quote-social-block-small__logo quote-social-block-small__logo--3"></span>
        Facebook
        </a>
        <p class="quote-social-block-small__follower">218 092 Subscribers</p>
      </div>
    </div>
  </div>
</div>
