<div class="update">
  <div class="update__content">
    <div class="update-block">
      <h4 class="update-block__title">New in Release 2.8</h4>
      <p class="update-block__caption update-block__caption--color">Fully Available: Live Preview Support for Multiple Browsers</p>
      <p class="update-block__description">Morbi faucibus ante ipsum, a tincidunt libero posuere et. Etiam tempor tortor at odio condimentum, sit amet fringilla ligula maximus. Mauris venenatis nisl nisi, et dictum dui aliquet nec. Sed erat, nec aliquam vel, aliquam ac felis. </p>
      <p class="update-block__caption update-block__caption--color">Improved Support for Typing </p>
      <p class="update-block__description">Nulla purus quam, pulvinar sed ante et, feugiat maximus velit. Donec eu elit mauris. </p>
      <p class="update-block__caption update-block__caption--color">Improved Stability</p>
      <p class="update-block__description">Proin id ligula eget massa tincidunt molestie. Morbi urna lectus, molestie vel quam vel, iaculis fermentum nunc. Morbi imperdiet, leo in interdum pretium.</p>
      <a href="" class="update-block__button link">Go to Release Log</a>
    </div>
    <div class="update-block">
      <h4 class="update-block__title">Popular Extensions</h4>
      <p class="update-block__caption">Custom Themes 1.1</p>
      <p class="update-block__description">Etiam viverra vulputate diam, pulvinar cursus augue egestas ullamcorper. </p>
      <p class="update-block__caption">Filter Forge</p>
      <p class="update-block__description">Nulla purus quam, pulvinar sed et, feugiat maximus velit.</p>
      <p class="update-block__caption">WebZap</p>
      <p class="update-block__description">Morbi imperdiet, leo in interdum pretium, elit eros dapibus velit, eu posuere quam diam vitae orci. Suspendisse interdum accumsan magna vitae commodo.</p>
      <p class="update-block__caption">Renamy</p>
      <p class="update-block__description">Vivamus consectetur suscipit elit, ut lacinia diam elementum et.</p>
      <a href="" class="update-block__button link">Go to Marketplace</a>
    </div>
    <div class="update-block">
      <h4 class="update-block__title">New From the Blog</h4>
      <p class="update-block__caption update-block__caption--mb">Morbi imperdiet, leo in interdum pretium.</p>
      <p class="update-block__description">February 18, 2015</p>
      <p class="update-block__caption update-block__caption--mb">Donec orci ante, porta vel nulla quis, aliquet hendrerit leo.</p>
      <p class="update-block__description">February 12, 2015</p>
      <p class="update-block__caption update-block__caption--mb">Suspendisse egestas vulputate luctus.</p>
      <p class="update-block__description">February 6, 2015</p>
      <p class="update-block__caption update-block__caption--mb">Quisque varius ante lorem, eget pretium purus hendrerit a egestas. </p>
      <p class="update-block__description">February 2, 2015</p>
      <p class="update-block__caption update-block__caption--mb">Phasellus in augue risus. </p>
      <p class="update-block__description">January 23, 2015</p>
      <a href="" class="update-block__button link">Go to Blog</a>
    </div>
  </div>
</div>
