section.article
    .article__content
        .article__wrapper
            .article-top
                .article-top-info.wow.bounceInLeft
                    h2.article-top-info__title.title Lorem ipsum dolor
                        br
                        |sit amet adip
                    p.article-top-info__date.date 06th August 2015
                    .article-top-info-button.circle
                        span.article-top-info-button__arrow.circle__arrow
                            svg#Capa_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewbox='0 0 21.825 21.825', style='enable-background:new 0 0 21.825 21.825;', xml:space='preserve', width='13px', height='20px')
                                path(d='M16.791,13.254c0.444-0.444,1.143-0.444,1.587,0c0.429,0.444,0.429,1.143,0,1.587l-6.65,6.651  c-0.206,0.206-0.492,0.333-0.809,0.333c-0.317,0-0.603-0.127-0.81-0.333l-6.65-6.651c-0.444-0.444-0.444-1.143,0-1.587  s1.143-0.444,1.587,0l4.746,4.762V1.111C9.791,0.492,10.299,0,10.918,0c0.619,0,1.111,0.492,1.111,1.111v16.904L16.791,13.254z', fill='#b6b6b6')
                .article-top-picture.wow.bounceInRight
                    img.article-top-picture__img(src="images/article-picture.jpg")
            .article-bottom.wow.bounceInRight
                .article-bottom__information
                    p.article-bottom__date.date 10th August 2015
                    .article-bottom-categories
                        p.article-bottom-categories__title.article-title categories
                        p.article-bottom-categories__description.article-description Fashion
                    .article-bottom-tags
                        p.article-bottom-tags__title.article-title tags
                        p.article-bottom-tags__description.article-description Apparel, Shows, Upcoming
                    .article-bottom-share
                        p.article-bottom-share__title.article-title share
                        p.article-bottom-share__social
                            i.fa.fa-facebook
                            |Facebook
                        p.article-bottom-share__social
                            i.fa.fa-twitter
                            |Twitter
                        p.article-bottom-share__social
                            i.fa.fa-google-plus
                            |Google+
                .article-bottom__specification
                    p.article-bottom__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie massa metus, id posuere dolor ultrices ut. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc ut faucibus arcu, mattis sollicitudin quam. Sed mollis lorem suscipit egestas vehicula. In posuere hendrerit lacus, a facilisis tortor tincidunt id curabitur eleifend erat at lorem malesuada.
                    p.article-bottom__description Quisque nec nisl mollis felis fringilla porta nec vel leo. Sed sed placerat eros. Praesent lobortis, elit in dapibus ultricies, nisi nisi maximus dui.
                    p.article-bottom__description.article-bottom__description--quote Velit in volutpat faucibus, ante metus egestas eros, id malesuada est eros et nibh. Suspendisse tempor nisl et arcu tincidunt vestibulum. Ut volutpat quis dolor sit amet imperdiet.
                    p.article-bottom__description Duis lacinia, felis a sodales lobortis, risus metus consectetur ex suspendisse potenti. Etiam vitae metus non diam laoreet bibendum at in metus. Phasellus elementum ac nibh id auctor.

