footer.footer
    .footer__content
        .footer-logo.icon-logo
        .footer-info
            p.footer-info__title Copyright BaseKit 2015
            p.footer-info__description CC - Attribution-NonCommercial 4.0 International
