section.gallery
    .gallery__content
        .gallery__wrapper
            .gallery-block__wrapper
                .gallery-block.gallery-block__picture.wow.bounceInRight(data-wow-delay=".2s")
                .gallery-block.gallery-block__info.wow.bounceInRight(data-wow-delay=".5s")
                    p.gallery-block__title Lorem ipsum dolor
                    p.gallery-block__description Fusce mollis quis augue quis viverra nam vitae.
            .gallery-block__wrapper
                .gallery-block.gallery-block__picture.wow.bounceInRight(data-wow-delay=".7s")
                .gallery-block.gallery-block__info.wow.bounceInRight(data-wow-delay=".9s")
                    p.gallery-block__title Maecenas fermentum a non
                    p.gallery-block__description Avivamus a risus non dui viverra pulvinar a dictum dolor.
            .gallery-block__wrapper
                .gallery-block.gallery-block__info.wow.bounceInRight(data-wow-delay=".2s")
                    p.gallery-block__title Etiam tincidunt velit turpis
                    p.gallery-block__description Stristique volutpat erat elementum in donec du masa.
                .gallery-block.gallery-block__picture.wow.bounceInRight(data-wow-delay=".5s")
            .gallery-block__wrapper
                .gallery-block.gallery-block__info.wow.bounceInRight(data-wow-delay=".7s")
                    p.gallery-block__title Duis ac nisi id metus
                    p.gallery-block__description A In hac habitasse platea dictumst proin id lacus cursus.
                .gallery-block.gallery-block__picture.wow.bounceInRight(data-wow-delay=".9s")