section.information
    .information__content
        .information-picture.wow.bounceInLeft
            img.information-picture__img(src="images/product-4.jpg")
        .information-specification.wow.bounceInRight
            .information__wrapper
                h2.information-specification__title.title Lorem ipsum dolor
                    br
                    | sit amet adip
                p.information-specification__price.price £189
                p.information-specification__description.description Sed venenatis, libero sit amet faucib pulvinar, purus magna feugiat nunc, et mentum urna libero id urna.
                .information-specification__wrapper
                    span.information-specification__size.active s
                    span.information-specification__size m
                    span.information-specification__size l
                    span.information-specification__size xl
                button.information-specification__button.button-blue.button-click.animated add to basket