menu.menu
    .menu__content
        ul.menu__list
            li.menu__item
                a.menu__link.link(href="#") Home
            li.menu__item
                a.menu__link.link(href="#") Blog
            li.menu__item
                a.menu__link.link(href="#") Store
            li.menu__item
                a.menu__link.link(href="#") Contact
        .menu-bottom-block
            .menu-bottom-block__button
                p.menu-bottom-block__count 0 Item
                    span.icon-menu-basket
                .menu-bottom-block__arrow
            .menu-bottom-block-list
                .menu-bottom-block-list__item
                    .menu-bottom-block-list-info
                        p.menu-bottom-block-list-info__description Panel T-Shirt
                        p.menu-bottom-block-list-info__count Quantity: 1
                    p.menu-bottom-block-list__price £39.99
            button.menu-bottom-block__button-check.button-click.animated checkout
