section.news
    .news__content
        .news__wrapper
            .news-info.wow.bounceInLeft
                p.news-info__date.date 06th August 2015
                h2.news-info__title.title Lorem ipsum dolor
                    br
                    | sit amet adip
                button.news-info__button.button-blue.button-click.animated read more
            .news-list.wow.bounceInRight
                .news-list-header
                    img.news-list-header__img(src="images/news-1.jpg")
                .news-list__wrapper
                    figure.news-list-block.wow.bounceIn
                        .news-list-block-picture
                            img.news-list-block-picture__img(src="images/news-2.jpg")
                        figcaption.news-list-block__info
                            p.news-list-block__title Lorum ipsum dolor amet
                            p.news-list-block__description Lorem ipsum dolor sit amet, consectetur adipis cing elit. Sed molestie massa metus.
                            a.news-list-block__link.link.button-grey(href="#") read more
                    figure.news-list-block.wow.bounceIn
                        .news-list-block-picture
                            img.news-list-block-picture__img(src="images/news-3.jpg")
                        figcaption.news-list-block__info
                            p.news-list-block__title Lorum ipsum dolor amet
                            p.news-list-block__description Lorem ipsum dolor sit amet, consectetur adipis cing elit. Sed molestie massa metus.
                            a.news-list-block__link.link.button-grey(href="#") read more
                    figure.news-list-block.wow.bounceIn
                        .news-list-block-picture
                            img.news-list-block-picture__img(src="images/news-2.jpg")
                        figcaption.news-list-block__info
                            p.news-list-block__title Lorum ipsum dolor amet
                            p.news-list-block__description Lorem ipsum dolor sit amet, consectetur adipis cing elit. Sed molestie massa metus.
                            a.news-list-block__link.link.button-grey(href="#") read more
                    figure.news-list-block.wow.bounceIn
                        .news-list-block-picture
                            img.news-list-block-picture__img(src="images/news-3.jpg")
                        figcaption.news-list-block__info
                            p.news-list-block__title Lorum ipsum dolor amet
                            p.news-list-block__description Lorem ipsum dolor sit amet, consectetur adipis cing elit. Sed molestie massa metus.
                            a.news-list-block__link.link.button-grey(href="#") read more

