.slider
    .slider__content
        .slider-container-main.slider-container-main.wow.bounceInUp
            .slider-container__wrapper.swiper-wrapper
                .slider-container__slide.swiper-slide.slider-container-info
                    .slider-container-two.slider-container-common
                        .slider-container-two__wprapper.swiper-wrapper
                            .slider-container-two-slilde.swiper-slide
                                p.slider-container-two-slide__title.slider-container__title Lorem ipsum dolor
                                    br
                                    |sit amet
                                p.slider-container-two-slide__description.slider-container__description Lorem ipsum dolor sit amet
                            .slider-container-two-slilde.swiper-slide
                                p.slider-container-two-slide__title.slider-container__title Lorem ipsum dolor sit amet
                                p.slider-container-two-slide__description.slider-container__description Lorem ipsum dolor sit amet
                            .slider-container-two-slilde.swiper-slide
                                p.slider-container-two-slide__title.slider-container__title Lorem ipsum dolor sit amet
                                p.slider-container-two-slide__description.slider-container__description Lorem ipsum dolor sit amet
                        .slider-container__pagination.slider-container-two__pagination
                    .slider-container-picture
                        img.slider-container-picture__img(src="images/slide-1.jpg")
                .slider-container__slide.swiper-slide.slider-container-info
                    .slider-container-thre.slider-container-common
                        .slider-container-thre__wprapper.swiper-wrapper
                            .slider-container-thre-slilde.swiper-slide
                                p.slider-container-thre-slide__title.slider-container__title Lorem ipsum dolor
                                    br
                                    |sit amet
                                p.slider-container-thre-slide__description.slider-container__description Lorem ipsum dolor sit amet
                            .slider-container-thre-slilde.swiper-slide
                                p.slider-container-thre-slide__title.slider-container__title Lorem ipsum dolor
                                    br
                                    |sit amet
                                p.slider-container-thre-slide__description.slider-container__description Lorem ipsum dolor sit amet
                            .slider-container-thre-slilde.swiper-slide
                                p.slider-container-thre-slide__title.slider-container__title Lorem ipsum dolor
                                    br
                                    |sit amet
                                p.slider-container-thre-slide__description.slider-container__description Lorem ipsum dolor sit amet
                        .slider-container__pagination.slider-container-thre__pagination
                    .slider-container-picture
                        img.slider-container-picture__img(src="images/slide-2.jpg")
                .slider-container__slide.swiper-slide.slider-container-info
                    .slider-container-four.slider-container-common
                        .slider-container-four__wprapper.swiper-wrapper
                            .slider-container-four-slilde.swiper-slide
                                p.slider-container-four-slide__title.slider-container__title Lorem ipsum dolor
                                    br
                                    | sit amet
                                p.slider-container-four-slide__description.slider-container__description Lorem ipsum dolor sit amet
                            .slider-container-four-slilde.swiper-slide
                                p.slider-container-four-slide__title.slider-container__title Lorem ipsum dolor
                                    br
                                    | sit amet
                                p.slider-container-four-slide__description.slider-container__description Lorem ipsum dolor sit amet
                            .slider-container-four-slilde.swiper-slide
                                p.slider-container-four-slide__title.slider-container__title Lorem ipsum dolor
                                    br
                                    | sit amet
                                p.slider-container-four-slide__description.slider-container__description Lorem ipsum dolor sit amet
                        .slider-container__pagination.slider-container-four__pagination
                    .slider-container-picture
                        img.slider-container-picture__img(src="images/slide-1.jpg")
            .slider-container__button-block
                .slider-container__button-next.swiper-button-next
                    .slider-container-button__arrow
                .slider-container__button-prev.swiper-button-prev
                    .slider-container-button__arrow

